In [49]:
#import the Excel spreadsheet
import pandas as pd
df = pd.read_excel("output_keywords_titles_abstracts.xlsx")

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7931 entries, 0 to 7930
Data columns (total 77 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PMID    7931 non-null   int64
 1   TI      7931 non-null   object
 2   AB      3611 non-null   object
 3   MH 1    7804 non-null   object
 4   MH 2    7802 non-null   object
 5   MH 3    7660 non-null   object
 6   MH 4    7406 non-null   object
 7   MH 5    7104 non-null   object
 8   MH 6    6595 non-null   object
 9   MH 7    5806 non-null   object
 10  MH 8    4972 non-null   object
 11  MH 9    4154 non-null   object
 12  MH 10   3421 non-null   object
 13  OT 1    559 non-null    object
 14  OT 2    341 non-null    object
 15  OT 3    175 non-null    object
 16  OT 4    108 non-null    object
 17  TT      5941 non-null   object
 18  MH 11   2775 non-null   object
 19  MH 12   2205 non-null   object
 20  MH 13   1730 non-null   object
 21  OT 5    65 non-null     object
 22  OT 6    39 non-null     object
 23  MH 14   1282 non-null   object
 24  OT 7    29 non-null     object
 25  OAB     140 non-null    object
 26  OABL    140 non-null    object
 27  MH 15   972 non-null    object
 28  MH 16   751 non-null    object
 29  MH 17   531 non-null    object
 30  MH 18   376 non-null    object
 31  MH 19   267 non-null    object
 32  MH 20   194 non-null    object
 33  MH 21   128 non-null    object
 34  MH 22   79 non-null     object
 35  MH 23   45 non-null     object
 36  MH 24   27 non-null     object
 37  MH 25   14 non-null     object
 38  MH 26   10 non-null     object
 39  MH 27   6 non-null      object
 40  MH 28   2 non-null      object
 41  MH 29   1 non-null      object
 42  OT 8    21 non-null     object
 43  OT 9    20 non-null     object
 44  OT 10   19 non-null     object
 45  OT 11   19 non-null     object
 46  OT 12   18 non-null     object
 47  OT 13   18 non-null     object
 48  OT 14   17 non-null     object
 49  OT 15   15 non-null     object
 50  OT 16   14 non-null     object
 51  OT 17   14 non-null     object
 52  OT 18   13 non-null     object
 53  OT 19   13 non-null     object
 54  OT 20   12 non-null     object
 55  OT 21   10 non-null     object
 56  OT 22   9 non-null      object
 57  OT 23   6 non-null      object
 58  OT 24   6 non-null      object
 59  OT 25   6 non-null      object
 60  OT 26   5 non-null      object
 61  OT 27   4 non-null      object
 62  OT 28   3 non-null      object
 63  OT 29   3 non-null      object
 64  OT 30   3 non-null      object
 65  OT 31   2 non-null      object
 66  OT 32   1 non-null      object
 67  OT 33   1 non-null      object
 68  OT 34   1 non-null      object
 69  OT 35   1 non-null      object
 70  OT 36   1 non-null      object
 71  OT 37   1 non-null      object
 72  OT 38   1 non-null      object
 73  OT 39   1 non-null      object
 74  OT 40   1 non-null      object
 75  OT 41   1 non-null      object
 76  OT 42   1 non-null      object
dtypes: int64(1), object(76)
memory usage: 4.7+ MB

In [51]:
#Define variables
df_mesh = pd.DataFrame(columns=['PMID', 'TI', 'MH'])
mesh_keywords = []
title = []
pmid = []

#define a function to eliminate MeSH qualifiers
def eliminate_qualifiers(st):
  if (st.find("/") >= 0):
    return st[:st.find("/")]
  else:
    return st

#Extracting MeSH-publication pairs
for i in range(29):
  id_ = "MH " + str(i+1)
  s = list(df[id_])
  s = [str(x).replace("*", "") for x in s]
  s = [eliminate_qualifiers(x) for x in s]
  mesh_keywords += s
  pmid += list(df["PMID"])
  title += list(df["TI  "])

#Saving dataframe
df_mesh['PMID'] = pmid
df_mesh['TI'] = title
df_mesh['MH'] = mesh_keywords

In [52]:
#Define variables
df_keywords = pd.DataFrame(columns=['PMID', 'TI', 'OT'])
keywords = []
title = []
pmid = []

#Extracting keyword-publication pairs
for i in range(42):
  id_ = "OT " + str(i+1)
  s = list(df[id_])
  s = [str(x).replace("*", "") for x in s]
  s = [eliminate_qualifiers(x) for x in s]
  keywords += s
  pmid += list(df["PMID"])
  title += list(df["TI  "])

#Saving dataframe
df_keywords['PMID'] = pmid
df_keywords['TI'] = title
df_keywords['OT'] = keywords

In [ ]:
#Saving an Excel spreadsheet for every kind of keywords
df_mesh[df_mesh['MH'] != "nan"].to_excel("mesh_keywords.xlsx", index=False)
df_keywords[df_keywords['OT'] != "nan"].to_excel("keywords.xlsx", index=False)