In [66]:
#Opening the PubMed file
with open("pubmed-LaTunisiem-set (1).txt", "r") as f:
  s = f.read()

In [67]:
#Splitting to have the publication records
lines = s.split("\n\n")

In [68]:
#Finding the number of publication records
len(lines)

7931

In [69]:
#Joining values that are written in two lines or more
ss = []
for line in lines:
  cat = line.split("\n      ")
  lin1 = " ".join(cat)
  ss.append(lin1)

In [70]:
#Converting data to dataframe
import pandas as pd
output = pd.DataFrame()
for l in ss:
  ls = l
  i = 1
  while (ls.count("FAU -") > 0):
    ls = ls[:ls.find("FAU -")] + "FAU" + str(i) + "-" + ls[ls.find("FAU -") + 5:]
    i += 1
  i = 1
  while (ls.count("AD  -") > 0):
    ls = ls[:ls.find("AD  -")] + "AD " + str(i) + "-" + ls[ls.find("AD  -") + 5:]
    i += 1
  i = 1
  while (ls.count("MH  -") > 0):
    ls = ls[:ls.find("MH  -")] + "MH " + str(i) + "-" + ls[ls.find("MH  -") + 5:]
    i += 1
  i = 1
  while (ls.count("OT  -") > 0):
    ls = ls[:ls.find("OT  -")] + "OT " + str(i) + "-" + ls[ls.find("OT  -") + 5:]
    i += 1
  ls = ls.replace(" [doi]", "")
  ll = {}
  cat = ls.split("\n")
  for c in cat[:-1]:
    cc = [c[:c.index("- ")], c[c.index("- ")+2:]]
    ll[cc[0]] = cc[1]
  df_dictionary = pd.DataFrame([ll])
  output = pd.concat([output, df_dictionary], ignore_index=True)

In [71]:
#Removing useless columns
output.drop(columns = ["OWN ", "STAT", "DCOM", "LR  ", "IS  ", "SO  ", "EDAT", "PT  ", "DEP ", "PL  ", "TA  ", "AU  ", "JT  ", "JID ", "SB  ", "OTO ", "EDAT", "MHDA", "CRDT",
"PST ", "RN  ", "SI  ", "PMC ", "PMCR", "COIS", "PS  ", "FPS ", "EIN ", "CON ", "CIN ", "RF  ", "GR  ", "AID ", "OID ", "GN  ", "SO  ", "CN  "], inplace = True)

In [72]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7931 entries, 0 to 7930
Columns: 868 entries, PMID to OT 42
dtypes: object(868)
memory usage: 52.5+ MB

In [74]:
output.to_excel("output.xlsx", index=False)